@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import 'tailwind-animations';

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;

	--period-primary: #f07d8c;
	--period-secondary: #fad2da;
	--period-light: #fbf5f3;

	--follicular-primary: #fff57c;
	--follicular-secondary: #faf5b9;
	--follicular-light: #fff7e8;

	--ovulation-primary: #b7e28e;
	--ovulation-secondary: #d8eec4;
	--ovulation-light: #f4f8ec;

	--luteal-primary: #92dce9;
	--luteal-secondary: #c5ebf0;
	--luteal-light: #f3f5f5;
}

@theme {
	--color-period-primary: var(--period-primary);
	--color-period-secondary: var(--period-secondary);
	--color-period-light: var(--period-light);

	--color-follicular-primary: var(--follicular-primary);
	--color-follicular-secondary: var(--follicular-secondary);
	--color-follicular-light: var(--follicular-light);

	--color-ovulation-primary: var(--ovulation-primary);
	--color-ovulation-secondary: var(--ovulation-secondary);
	--color-ovulation-light: var(--ovulation-light);

	--color-luteal-primary: var(--luteal-primary);
	--color-luteal-secondary: var(--luteal-secondary);
	--color-luteal-light: var(--luteal-light);
}

table {
	margin-bottom: 2rem;
	text-align: left;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	overflow: hidden;
	border: lightgray solid;
}

th,
td {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 8px;
}

th:last-child,
td:last-child {
	border-right: none;
}

tr:last-child td {
	border-bottom: none;
}

body {
	font-family: "Outfit", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	line-height: 1.7;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
	margin-bottom: 2rem;
}

pre>code {
	all: unset;
}

blockquote {
	@apply rounded-r-xl;

	border-left: 4px solid var(--period-primary);
	padding: 3px 3px 3px 20px;
	margin: 0;
	font-size: 1em;
	background-color: #fbf5f3;
	font-style: normal;
	font-weight: normal;
	quotes: none;
}

img {
	background: none;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

math {
	font-size: 1.25em;
}

[data-callout] {
	& {
		@apply my-6 space-y-2 rounded-r-2xl border-l-4 p-4 pb-5;
	}

	&>[data-callout-title] {
		& {
			@apply flex flex-row items-start gap-2 p-0 font-bold;
		}

		&:not:only-child {
			@apply mb-2;
		}

		&:empty::after {
			content: "Note";
		}

		&::before {
			@apply mt-1 block h-5 w-5 bg-current content-[""];
			mask-repeat: no-repeat;
			mask-size: cover;

			/* lucide-pencil */
			mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE3IDNhMi44NSAyLjgzIDAgMSAxIDQgNEw3LjUgMjAuNUwyIDIybDEuNS01LjVabS0yIDJsNCA0Ii8+PC9zdmc+");
		}
	}

	&>[data-callout-body] {
		& {
			@apply space-y-2;
		}

		&>* {
			@apply m-0;
		}
	}
}

details[data-callout]>summary[data-callout-title] {
	& {
		@apply cursor-pointer;
	}

	&::after {
		@apply w-full bg-right bg-no-repeat;
		content: "";

		/* lucide:chevron-right */
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im05IDE4bDYtNmwtNi02Ii8+PC9zdmc+");
		background-size: 1.5rem;
	}

	&:not(:empty)::after {
		@apply my-auto ml-auto h-6 w-6;
	}
}

details[data-callout][open]>summary[data-callout-title]::after {
	/* lucide:chevron-down */
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im02IDlsNiA2bDYtNiIvPjwvc3ZnPg==");
}

[data-callout][data-callout-type="definition"] {
	& {
		@apply border-ovulation-primary/60 bg-ovulation-light/60;
	}

	&>[data-callout-title] {
		& {
			@apply text-ovulation-primary;
		}

		&:empty::after {
			content: "Definition";
		}

		&::before {
			/* lucide:info */
			mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJvb2stb3Blbi1pY29uIGx1Y2lkZS1ib29rLW9wZW4iPjxwYXRoIGQ9Ik0xMiA3djE0Ii8+PHBhdGggZD0iTTMgMThhMSAxIDAgMCAxLTEtMVY0YTEgMSAwIDAgMSAxLTFoNWE0IDQgMCAwIDEgNCA0IDQgNCAwIDAgMSA0LTRoNWExIDEgMCAwIDEgMSAxdjEzYTEgMSAwIDAgMS0xIDFoLTZhMyAzIDAgMCAwLTMgMyAzIDMgMCAwIDAtMy0zeiIvPjwvc3ZnPg==");
		}
	}
}

[data-callout][data-callout-type="info"] {
	& {
		@apply border-luteal-primary/60 bg-luteal-light/60;
	}

	&>[data-callout-title] {
		& {
			@apply text-luteal-primary;
		}

		&:empty::after {
			content: "Infp";
		}

		&::before {
			/* lucide:info */
			mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNlYXJjaC1pY29uIGx1Y2lkZS1zZWFyY2giPjxwYXRoIGQ9Im0yMSAyMS00LjM0LTQuMzQiLz48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ii8+PC9zdmc+");
		}
	}
}